body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    background-color: #efefef;
}

.header {
    margin: 0;
    padding: 0;
}

.header {
    height: 25px;
    line-height: 5px;
    font-size: 8em;
    font-weight: bold;
    padding: 0.5em 0 0 30px;
    color: #aaaaaa;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
}

.orange {
    color: #EE8D40;
}

.green {
    color: #9AC941;
}

.tagline {
    line-height: 0;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0 0.5em 35px;

    color: #aaaaaa;
}

.mobile-wrapper {
    margin-left: 30px
}

input, textarea, select {
    -webkit-appearance: none;
}
input, textarea, select {
    border: 1px solid #aaaaaa;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 97%;
    height: 40px;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
}
select {
    width: 30%;
}

textarea{
    height: 150px
}



input[type=checkbox],
input[type=radio] {
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin: 0 0.25em 0 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.25em;
    vertical-align: text-top;
}

input[type=radio] {
    -webkit-border-radius: 2em; /* Make radios round */
}

input[type=checkbox]:checked {
    background: url("data:image/png,%89PNG[...]") no-repeat center center;
    -webkit-background-size: 28px 28px; /* shrink high resolution background */
}

input[type=button], input[type=submit] {
	cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    width: 97%;
    height: 50px;
    border: 1px solid #282726;
    background: -webkit-gradient( linear, left top, left bottom, from(#e2e2e2), to(#8c8a88), color-stop(0.5, #acadae), color-stop(0.5, #82807e) );
    margin: 0 0 3px 0;
    text-shadow: 0px 1px 0 #cecece;
    -webkit-background-origin: padding-box;
    -webkit-background-clip: border-box;
    -webkit-border-radius: 8px;
}

input[type=button], input[type=submit] {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    width: 97%;
    height: 50px;
    border: 1px solid #282726;
    background: -webkit-gradient( linear, left top, left bottom, from(#e2e2e2), to(#8c8a88), color-stop(0.5, #acadae), color-stop(0.5, #82807e) );
    margin: 0 0 3px 0;
    text-shadow: 0px 1px 0 #cecece;
    -webkit-background-origin: padding-box;
    -webkit-background-clip: border-box;
    -webkit-border-radius: 8px;
}

input[type=button]:hover, input[type=button].cancel,
input[type=button]:active, input[type=button].cancel:active, input[type=submit]:hover,
input[type=submit]:active{
    color: #fff;
    text-shadow: none;
}

input[type=button]:hover, input[type=button].cancel:hover, input[type=submit]:hover {
    background: -webkit-gradient( linear, left top, left bottom, from(#aaaee5), to(#10006d), color-stop(0.5, #1F3B97), color-stop(0.5, #081f6f) );
}

input[type=button].cancel {
    background: -webkit-gradient( linear, left top, left bottom, from(#5c5c5b), to(#1e1b16), color-stop(0.2, #1e1b16) );
    margin-top: 6px;
}

